body {
    font-family: Palatino;
  }

body>form>div>div>input{
  text-transform: capitalize;
}

body>form>ul>li{
  text-transform: capitalize;
}

#new-item-form{
  color:black;
  font-weight: bold;
  text-transform: capitalize
}

#dinosaurs{
text-transform: capitalize;
flex-direction: column;
align-items: center;
}

body{
  background: green
}

.title{
display: grid;
grid-auto-columns: max-content;
align-items: center;
font-weight: bolder;
color: whitesmoke;
}

body>form>div>input{
  font-weight: bold;
}